body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: url('https://pymstatic.com/29942/conversions/clasificacion-de-empresas-wide_webp.webp') no-repeat center center/cover;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
}

.container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button#btnCorrectos {
    border-color: green;
}

button#btnIncorrectos {
    border-color: rgb(255, 238, 0);
}

#resultados {
    margin-top: 30px;
    max-width: 800px;
    padding: 20px;
    border: 6px solid #050505;
    border-radius: 10px;
    background-color: rgba(11, 172, 25, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#resultados h2 {
    font-size: 24px;
}

#resultados p {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.registro {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
